# This is a basic workflow to help you get started with Actions

name: CI-CD-Pipline-to-AWS-Elastic-Beastalk
env:
  EB_PACKAGE_S3_BUCKET_NAME  : "adv-it-flask-application-packages-recrout"
  EB_APPLICATION_NAME        : "Myflaskpythonfirstapplication"
  EB_ENVIRONMENT_NAME        : "Myflaskpythonfirstapplication-env"
  DEPLOY_PACKAGE_NAME        : "flask_app${{ github.sha }}.zip"
  AWS_REGION_NAME            : "us-west-2"

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: 
      - main 


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  my_ci_part:
    runs-on: ubuntu-latest
    
    steps:
    - name: Git clone our repo
      uses: actions/checkout@v1
      
    - name: Create zip deployment package
      run: zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./ -x *.git*
      
      
      
